<div class="container main-div">
    
    <h6>Ставка <strong style="color: green;">{{ stavka }}</strong> р</h6>
    <h6>Час <strong style="color: rgb(0, 51, 128);">{{ hour_stavka }}</strong> р</h6>
    <h6>Минута <strong style="color: rgb(128, 0, 75);">{{ one_minute }}</strong> р</h6>
    <br>
    
    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Всего денег</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="money">{{ moneyAll }} </td>
          </tr>
          
        </tbody>
      </table>

      <ul class="list-group">
        <li class="list-group-item">Total calculation</li>
        <li class="list-group-item list-group-item-success"><h2>{{ total_days }} <small>дней</small></h2></li>
        <li class="list-group-item list-group-item-primary"><h2>{{ total_hours }} <small>часов</small></h2> </li>
        <li class="list-group-item list-group-item-warning"><h2>{{ houl_minutes }} <small>минут</small></h2> </li>
      </ul>

    </div>
    <br>
    <div 
        *ngIf="send_confirm"
        class="alert alert-info" 
        role="alert">
        {{send_res}}
    </div>

    <form [formGroup]="form" (ngSubmit)="record()">
        <div   class="form-group" >
          <label for="exampleInputEmail1">Часов</label>
          <input 
          type="number" 
          formControlName="hours"
          class="form-control" 
          min="0" 
          
          [(ngModel)]="hours_value_ui"
          >
          <div class="adjast">
            <button type="button" class="btn btn-secondary" (click)="hoursMinus()">-</button>
            <button type="button" class="btn btn-dark darc " (click)="hoursPlus()">+</button>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Минут</label>
          <input 
          type="number" 
          formControlName="minutes"
          class="form-control" 
          min="0" 
          
          [(ngModel)]="minutes_value_ui"
          >
          <div class="adjast">
            <button type="button" class="btn btn-secondary" (click)="minutesMinus()">-</button>
            <button type="button" class="btn btn-dark darc " (click)="minutesPlus()">+</button>
            <button type="button" class="btn btn-secondary marginleft" (click)="minutesMinus10()">- 10</button>
            <button type="button" class="btn btn-dark darc " (click)="minutesPlus10()">+ 10</button>
          </div>
          
        </div>
        <button 
          type="submit" 
          class="btn btn-outline-primary btn-send btn-height"
        >CALC</button>
      </form>

      <hr>
      <!-- <div>
        <h3>Времени в уме (ушел в минус)</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">hours</th>
              <th scope="col">minutes</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="money">
                3
                <hr>
                <input type="number" class="form-control" min="0" value="0">  
              </td>
              <td class="days">
                25
                <hr>
                <input type="number" class="form-control" min="0" value="0">
              </td>
            </tr>  
          </tbody>
        </table>
        <div>
          <button type="button" class="btn btn-outline-secondary mem">+</button>
          <button type="button" class="btn btn-outline-secondary mem">-</button>
        </div>
        <button type="button" class="btn btn-outline-primary btn-send btn-height">remember</button>
      </div><br><br> -->


      <div >
        <button 
          (click)="togle = !togle"
          type="submit" 
          class="btn btn-outline-primary btn-send btn-height details"
        >DETAILS</button>

        <hr>
        <div *ngIf="togle">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>hours</th>
                <th>minutes</th>
                <th>overtime</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let day of days">
                <td>{{ day.date | date }}</td>
                <td>{{ day.hours }}</td>
                <td>{{ day.minutes }}</td>
                <td>{{ day.overtime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>