<div class="container main-div">
    <!-- <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div> -->

    
    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Total money</th>
            <th scope="col">Total days</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td class="money">40 000 р</td>
            <td class="days">90 дней</td>
            
          </tr>
          
        </tbody>
      </table>
    </div>

    
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Hours</label>
          <input type="number" class="form-control" min="0" value="0">
          <div class="adjast">
            <button type="button" class="btn btn-secondary">-</button>
            <button type="button" class="btn btn-dark darc ">+</button>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Minutes</label>
          <input type="number" class="form-control" min="10" value="10">
          <div class="adjast">
            <button type="button" class="btn btn-secondary">-</button>
            <button type="button" class="btn btn-dark darc ">+</button>
          </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-send btn-height">CALC</button>
      </form>

      <hr>
      <div>
        <h3>Времени в уме</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              
              <th scope="col">hours</th>
              <th scope="col">minutes</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td class="money">
                34
                <div>
                  <button type="button" class="btn btn-outline-secondary mem">+</button>
                  <button type="button" class="btn btn-outline-secondary mem">-</button>
                </div>
              </td>
              <td class="days">
                25
                <div>
                  <button type="button" class="btn btn-outline-secondary mem">+</button>
                  <button type="button" class="btn btn-outline-secondary mem">-</button>
                </div>
              </td>
              
            </tr>
            
          </tbody>
        </table>
      </div>
</div>